.signin {
  padding: 100px 0;
}
.signin .row {
  width: 100%;
  display: flex;
  justify-content: center;
}
.signin .left {
  width: 50%;
}
.signin .right {
  width: 50%;
}
.signin .ttl-row {
  display: flex;
  align-items: center;
  gap: 0 5px;
}
.signin .msg-icon {
  width: 72px;
  height: 50px;
}
.signin .ttl-row .txt {
  font-size: 40px;
  color: var(--primary-color);
}
.signin .desc-txt {
  font-size: 16px;
  line-height: 1.6875;
  margin: 25px 0 20px;
}
.signin .desc-txt span {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary-color);
}
.signin .form-row {
  margin-bottom: 20px;
}
.signin label {
  font-size: 16px;
  line-height: 1.6875;
  display: inline-block;
  width: 132px;
}
.signin input {
  border: 2px solid var(--softgreen-color);
  max-width: 402px;
  height: 40px;
  width: calc(100% - 132px);
  padding: 10px;
}
.signin .login-btn,
.signin .register-btn {
  display: block;
  margin: 40px auto;
  width: 100%;
  max-width: 220px;
  border-radius: 10px;
  border: 2px solid #fff;
  background: var(--primary-color);
  padding: 9px 10px;
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
  cursor: pointer;
}
.signin .register-btn {
  margin: 20px auto;
}
.signin .register-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.signin .img-wrapper {
  max-width: 470px;
  margin: 0 0 0 auto;
}

/* Signup */
.signup .signup-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  border: 2px solid var(--primary-color);
}
.signup .signup-block {
  max-width: 540px;
  margin: 60px auto;
}
.signin.signup .ttl-row {
  justify-content: center;
}
.signin.signup .desc-txt {
  text-align: center;
  font-size: 20px;
  margin: 30px 0 40px;
}
.signin.signup .register-txt {
  text-align: center;
}
.signup .term-txt {
  text-align: center;
  margin-top: 40px;
}
.signup .term-txt span {
  color: var(--primary-color);
  text-decoration: underline;
  text-underline-offset: 3px;
}
.signup .check {
  display: flex;
  justify-content: center;
  gap: 0 10px;
  margin-top: 35px;
}
.signup .check input.agree {
  width: 20px;
  height: 20px;
  /* -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none; */
  outline: none;
  content: none;
  border: 2px solid var(--softgreen-color);
}
.signin.signup .register-btn {
  margin-top: 35px;
  margin-bottom: 40px;
}
.signin.signup .login-btn {
  margin-top: 35px;
}
