.header {
  background: var(--primary-color);
  height: 80px;
}
.header .header-container {
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
}
.header .header-row {
  display: flex;
  align-items: center;
  height: 100%;
}
.header .ttl-row {
  display: flex;
  width: 240px;
  align-items: center;
  gap: 0 10px;
}
.header .logo-icon {
  width: 58px;
  height: 40px;
}
.header .ttl-row .txt {
  font-size: 30px;
  color: var(--white-color);
}
.header .navbar {
  width: calc(100% - 240px);
}
.header .navbar ul {
  display: flex;
  padding: 20px;
  font-size: 16px;
  display: flex;
  gap: 0 35px;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}

.header .navbar ul li a {
  color: #fff;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid transparent;
}
.header .navbar ul li a.active:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background: var(--white-color);
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}
.header .user-logo {
  width: 40px;
  height: 40px;
  margin: 0 auto 5px auto;
}
.header .user-name {
  display: block;
  text-align: center;
  font-size: 10px;
  color: var(--white-color);
}
